debian/files
debian/*.debhelper
debian/videk-client.debhelper.log
debian/debhelper-build-stamp
debian/videk-client.substvars
debian/videk-client
VidekClient.egg-info
.pybuild
build
*.pyc
conf
.vscode
